@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap');
        
* {
    font-family: 'Red Hat Display', sans-serif !important;
}
a{
    color:inherit;
    text-decoration:none;
}
a:hover{
    color:inherit;
    opacity:0.7;
    text-decoration:none;
    pointer-events: pointer;
}

body { margin: 0; padding: 0; }

#loginbtn{
    transition: all 0.4s ease;
}

#loginbtn:hover{
    box-shadow: 2px 5px 15px rgba(0,0,0,0.2);
}

.list-group {
    flex-direction: row;
}

.gradient-custom-2 {

    background: #fccb90;

    background: -webkit-linear-gradient(to left, #41607a, #58b3e7);

    background: linear-gradient(to left, #6fa1cc, #61c5ff);
}

#map {
    height: 60vh;
}
    
@media (min-width: 768px) {
.gradient-form {
    height: 100vh !important;
}
}

@media (min-width: 769px) {
.gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
}

#nav {
    display: flex;
    justify-content: center;
}
#navbar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 2rem !important;
}

#nav-logo {
    display: flex;
    align-items: center;
}

.location-div{
    width: 90%;
    margin-top: 3%;
}

.map-div {
    display: flex;
    justify-content: center;
}

.link:hover {
    color: #61c5ff !important;
    border-radius: .3rem;
}

.nav-link:hover {
    color: #61c5ff !important;
    border-radius: .3rem;
}

.nav-link {
    transition: 0.2s;
}

.link {
    transition: 0.2s;
}

.nav-item {
    align-self: baseline;
}

#loginbg1 {
    position: absolute;
    top: 0; 
    right: 0; 
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #6fa1cc60, #61c5ff60);
    z-index: 1;
}

#loginbg {
    background-image: url("loginbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
    width: 100%;
    /* position: relative; */
    z-index: 0;
    overflow: hidden;
    border-radius: 15px;
    /* justify-content: center; */
    /* align-items: center; */
}

#text {
    transform: translateY(7rem);
    z-index: 2;
    text-align: center;
}

#mountains {
    position: fixed;
    right: 0;
    z-index: -1; 
    width:65rem;
    bottom: -5rem;
    transform:  translateX(10rem);
}

#tree1 {
    position: fixed;
    left: 0;
    z-index: -1; 
    width:35rem;
    bottom: -1rem;
    transform:  translateX(-2rem);

}

#tree6 {
    position: fixed;
    left: 0;
    z-index: -1; 
    width:30rem;
    bottom: -1rem;
    transform:  translateX(0rem);

}

#tree5 {
    position: fixed;
    left: 0;
    z-index: -1; 
    width:40rem;
    bottom: -1rem;
    transform:  translateX(-5rem);

}

#tree7 {
    position: fixed;
    left: 0;
    z-index: -1; 
    width:30rem;
    bottom: -1rem;
    transform:  translateX(-1rem);

}

#tree2 {
    position: fixed;
    left: 0;
    z-index: -1; 
    width:25rem;
    bottom: -1rem;
    transform:  translateX(0rem);
}

@media (max-width: 991px) {
    #loginbg1 {
        position: absolute;
        /* top: 0; 
        right: 0;  */
        color: black;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(to left, #6fa1cc60, #61c5ff60);
        z-index: 1;
    }
    
    #loginbg {
        background-image: url("loginbg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        /* position: relative; */
        z-index: 0;
        overflow: hidden;
        border-radius: 15px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    #text {
        /* transform: translateY(0); */
        z-index: 2;
        text-align: center;
        height: 20rem;
    }
    
}