{% extends "authentication/layout.html" %}
{% block title %}Recommend{% endblock %}


{% block body %}
<div class="card m-5 location-div">
    <div class="card-header">
      Current Location
    </div>
    <div class="card-body">
        <p class="card-text" id = 'longdis'>
            Longitude: {{long}}<br>
        </p>
        <p class="card-text" id = "latdis">
            Latitude: {{lat}}<br>
        </p>
        {%if long == 0 %}
            <a href="{% url 'profile:index' %}" class="btn btn-primary">Set Location</a>
        {%endif%}
    </div>
  </div>
<div class="card mt-4 m-3 location-div">
    <div class="card-header">
      Get Recommendation
    </div>
    <div class="card-body mb-0">
        <p class="card-text">
            Mood
        </p>
        
        <form action= "" method="post">
            {%csrf_token%}
            <div class="list-group rounded card-body mt-0">
                <button type="button" class="list-group-item list-group-item-action border rounded-0" data-toggle="list" role="tab">Happy </button>
                <button type="button" class="list-group-item list-group-item-action border" data-toggle="list" role="tab">Sad </button>
                <button type="button" class="list-group-item list-group-item-action border" data-toggle="list" role="tab">Bored </button>
                <button type="button" class="list-group-item list-group-item-action border" data-toggle="list" role="tab">Mad </button>
                <button type="button" class="list-group-item list-group-item-action border rounded-0" data-toggle="list" role="tab">Curious </button>
              </div>
            <p class="card-text">
                Transportation
            </p>
            <div class="list-group rounded card-body mt-0">
                <button type="button" class="list-group-item list-group-item-action border rounded-0" data-toggle="list" role="tab">Walking</button>
                <button type="button" class="list-group-item list-group-item-action border rounded-0" data-toggle="list" role="tab">Car</button>
              </div>
            <button type="submit" class="btn btn-primary" id = "submitrec">Get Recommendation</button>
        </form>
    </div>
  </div>
  <div class="card mt-4 m-3 location-div" id="result"></div>
  <script>
    document.getElementById('submitrec').addEventListener("click", function(event){
        event.preventDefault();
        que = document.getElementsByClassName('list-group-item');
        inner = "";

        for (var i = 0; i < que.length; i++) {
            if (que[i].classList.contains('active')) {
                inner += que[i].innerHTML;
            }
        }
        fetch ("{% url 'process_recommend_async' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'mood': inner,
            })
        }).then(function(response){
            return response.json();
        }).then(function(data){
            console.log(data);
            que = data.status;
            document.getElementById('result').innerHTML = "Please wait...";
            fetch ("{% url 'recommendations_async' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'query': que,
                })
            }).then(function(response){
                return response.json();
            }).then(function(data){
                console.log(data.url);
                // create a div with the fetched data and append it to the div with id="result"
                var div = document.createElement('div');
                div.className = 'card-header';
                div.innerHTML = 'Result';
                document.getElementById('result').innerHTML = "";
                document.getElementById('result').appendChild(div);
                var div2 = document.createElement('div');
                div2.className = 'card-body';
                var h5 = document.createElement('h5');
                h5.className = 'card-title';
                h5.innerHTML = data.name;
                var a = document.createElement('a');
                a.className = 'btn btn-primary';
                a.href = "{% url 'mapper:index' %}";
                a.innerHTML = 'Go to map';
                div2.appendChild(h5);
                div2.appendChild(a);
                document.getElementById('result').appendChild(div2);
            });
        });
        });
    
    </script> 
    
{% endblock %}